.psm {
  margin: 0 auto;
  background-image: url("../../images/supporting-elements/rocks.png");
  padding: 204px 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}

.psm__content {
  overflow: hidden;
}

.psm__guard {
  background-image: url("../../images/supporting-elements/Vector.svg");
  background-position: center;
  width: 546px;
  height: 542px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain;
}

.psm__title {
  margin-top: 30px;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  z-index: 1;
}

.psm__subtitle {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.015em;
  line-height: 22.5px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  z-index: 1;
}

.psm__button {
  padding: 16px 0;
  width: 260px;
  border: none;
  background: linear-gradient(264.11deg, #FF136D -2.87%, #453FD6 105.13%);
  box-shadow: -20px 10px 30px rgba(69, 63, 214, 0.15), 20px -10px 30px rgba(255, 19, 109, 0.15);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.psm__button-text {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.9);
}

.psm__button-arrow {
  margin-left: 12px;
  background-image: url("../../images/ArrowUp.svg");
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .psm {
    background-image: none;
    max-width: 327px;
    padding-top: 120px;
  }

  .psm__title {
    font-size: 24px;
    line-height: 30px;
  }

  .psm__subtitle {
    font-size: 14px;
    line-height: 18px;
  }

  .psm__button {
    width: 224px;;
  }

  .psm__guard {
    width: 327px;
    height: 338px;
  }
}