.links {
  display: flex;
}

.links__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.links__item {
  list-style: none;
  margin-right: 8px;
  cursor: pointer;
  display: flex;
}

.link__img {
  width: 24px;
  height: 24px;

}

.links__item:last-of-type {
  margin-right: 0;
}

.links__items_languages {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  height: 24px;
}

.links__button {
  background: none;
  border: none;
  padding: 0;
  height: 12px;
  margin-right: 4px;
  cursor: pointer;
  display: flex;
}

links__item lenks__item_telegram {
  margin-right: 8px;
}