.history-table {
  margin-top: 24px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 800px;
}

@media screen and (max-width: 1200px) {
  .history-table {
    width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .history-table {
    width: 420px;
  }
}

@media screen and (max-width: 576px) {
  .history-table {
    width: 334px;
  }
}