.history-table {
  margin-top: 24px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 1200px;
}

@media screen and (max-width: 1400px) {
  .history-table {
    width: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  .history-table {
    width: 800px;
  }
}

@media screen and (max-width: 992px) {
  .history-table {
    width: 700px;
  }
}

@media screen and (max-width: 860px) {
  .history-table {
    width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .history-table {
    width: 520px;
  }
}

@media screen and (max-width: 642px) {
  .history-table {
    width: 400px;
  }
}

@media screen and (max-width: 460px) {
  .history-table {
    width: 334px;
  }
}