.technology {
  margin: 0 auto;
  max-width: 1278px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 60px auto auto;
  grid-template-areas:
  "title image"
  "text image";
  gap: 0 121px;
}

.technology__title {
  margin: 0;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  grid-area: title;
}

.technology__title_pink {
  color: #FF136D;
}
.technology__text-container {
  grid-area: text;
}

.technology__text {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.8);
}

.technology__image {
  width: 359px;
  height: 313px;
  background-image: url("../../images/Technology-image.svg");
  grid-area: image;
}