.ecosystem {
  margin: 0 auto;
  max-width: 1279px;
  padding-top: 201px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.ecosystem__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.ecosystem__subtitle {
  margin: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.ecosystem__subtitle_pink {
  color: #FF136D;
}

.ecosystem__switch {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
}

.ecosystem__filter {
  display: flex;
}

.ecosystem__filter-input {
  display: none;
}

.ecosystem__filter-label {
  padding: 4px 25px;
  height: 23px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.ecosystem__filter-input:checked + .ecosystem__filter-label {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.ecosystem__table {
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 24px;
  justify-items: center;
}

.ecosystem__button {
  margin-top: 62px;
  padding: 16px 77.5px;
  filter: drop-shadow(-20px 10px 30px rgba(69, 63, 214, 0.15));
  border: double 1px transparent;
  border-radius: 16px;
  background-image: linear-gradient(black, black), radial-gradient(circle at top left, rgba(255, 19, 109, 1),rgba(69, 63, 214, 1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  cursor: pointer;
  align-self: center;
}

@media screen and (max-width: 1400px) {
  .ecosystem {
    max-width: 920px;
  }

  .ecosystem__table {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
}

@media screen and (max-width: 1200px) {
  .ecosystem {
    padding: 168px 60px 0;
  }
}

@media screen and (max-width: 992px) {
  .ecosystem__table {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 768px) {
  .ecosystem {
    padding: 120px 15px 0;
  }
}