.ecosystem {
  margin: 0 auto;
  max-width: 1279px;
  padding-top: 201px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.ecosystem__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.ecosystem__subtitle {
  margin: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.ecosystem__subtitle_pink {
  color: #FF136D;
}

.ecosystem__switch {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
}

.ecosystem__filter {
  display: flex;
}

.ecosystem__filter-item {
  display: flex;
}

.ecosystem__filter-input {
  display: none;
}

.ecosystem__filter-label {
  padding: 4px 25px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.ecosystem__filter-input:checked + .ecosystem__filter-label {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.ecosystem__table {
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 24px;
  justify-items: center;
}

@media screen and (max-width: 1400px) {
  .ecosystem {
    max-width: 920px;
  }

  .ecosystem__table {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
}

@media screen and (max-width: 1200px) {
  .ecosystem {
    padding: 168px 60px 0;
  }
}

@media screen and (max-width: 992px) {
  .ecosystem__table {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 768px) {
  .ecosystem {
    padding: 120px 15px 0;
  }

  .ecosystem__title {
    margin-bottom: 8px;
  }

  .ecosystem__switch {
    margin-top: 16px;
  }

  .ecosystem__table {
    margin-top: 24px;
  }
}

@media screen and (max-width: 420px) {
  .ecosystem__filter-label {
    padding: 4px 10px;
  }
}


.btn{
  border: 0;
  border-radius: 10px;
  padding: 20px 40px;


  /* transform: translate(-50%, -50%); */
  color:white
}
.bordered{
  background:url(../../images/Frame7.svg)
}