.markets {
  padding-top: 127px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.markets__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.markets__image {
  background-image: url("../../images/supporting-elements/markets-section.png");
  width: 1265px;
  height: 544px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.markets_item {
  position: absolute;
  width: 70px;
  height: 70px;
  cursor: pointer;

}

.markets_item_polycat-finance {
  background-image: url(../../images/AMM/Polygon/polycat\ finance.png);
  left: 40%;
  top: 35%;
}

 .markets_item_sushiswap {
   background-image: url(../../images/AMM/Moonriver/sushiswap.png);
   top: 50%;
   left: 15%;
 }

 .markets_item_bakeryswap {
   background-image: url(../../images/AMM/ETH\ &\ BSC/bakeryswap.png);
   bottom: 28%;
   left: 30%;
 }

 .markets_item_sdl-finance {
   background-image: url(../../images/AMM/Multiple/saddle\ finance\ \(SDL\).png);
   bottom: 0;
   left: 25%;
 }

 .markets_item_curve {
   background-image: url(../../images/AMM/Multiple/curve.png);
   top: 45%;
   right: 20%;
 }

 .markets_item_pancakeswap {
   background-image: url(../../images/AMM/ETH\ &\ BSC/pancakeswap.png);
   top: 60%;
   right: 30%;
 }

 .markets_item_gibx {
   background-image: url(../../images/AMM/ETH\ &\ BSC/GIBX.png);
   bottom: 10%;
   right: 20%;
 }

 .markets_item_definix {
   background-image: url(../../images/AMM/Klaytn/definix.png);
   bottom: 5%;
   right: 40%;
 }

@media screen and (max-width: 1400px) {
  .markets__image {
    width: 1024px;
  }

  .markets_item_bakeryswap {
    left: 25%;
    bottom: 20%;
  }
}

@media screen and (max-width: 1200px) {
  .markets__image {
    width: 872px;
  }

  .markets_item_bakeryswap {
    left: 25%;
  }
}

@media screen and (max-width: 992px) {
  .markets__image {
    width: 667px;
    background-size: contain;
  }
}

@media screen and (max-width: 768px) {
  .markets__image {
    width: 667px;
    background-image: url(../../images/supporting-elements/markets-section-mobile.png);
  }

  .markets__title {
    margin-bottom: 52px;
  }

  .markets_item_polycat-finance {

  }
  
  .markets_item_sushiswap {

  }
  
  .markets_item_bakeryswap {
    left: 15%;
  }
  
  .markets_item_sdl-finance {

  }
  
  .markets_item_curve {

  }
  
  .markets_item_pancakeswap {
    right: 10%;
  }
  
  .markets_item_gibx {
    bottom: 5%;
    right: 10%;
  }
  
  .markets_item_definix {
    bottom: 13%;
  }
}


