.comparison {
  padding-top: 54px;
  margin: 0 auto;
  max-width: 1305px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px dashed rgba(255, 255, 255, 0.1)
}

.comparison__table {
  display: flex;
  margin: 0;
  padding: 0;
}

.comparison__table-cell {
  margin-right: 55px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.015em;
  display: flex;
  align-items: center;
}

.comparison__table-cell:last-of-type {
  margin-right: 0;
}

.comparison__table-cell-token {
  margin: 0 8px;
  color: rgba(255, 255, 255, 0.8);
}

.comparison__table-cell-image_qiusd {
  width: 33px;
  height: 33px;
}

.comparison__table-cell-ratio {
  margin: 0;
  font-weight: 500;
  color: #FFFFFF;
}

.comparison__table-cell-ratio_color_pink {
  color: rgba(255, 19, 109, 1);
}

.comparison__text {
  margin-top: 32px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  .comparison {
    padding-top: 32px;
  }

  .comparison__table-cell{
    flex-direction: column;
    font-size: 14px;
    line-height: 18px;
  }

  .comparison__table-cell-token {
    margin: 8px 0;
  }
}