.header {
  margin: 0 auto;
  max-width: 1279px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__image {
  width: 62px;
  height: 62px;
}

.logo__text {
  margin-left: 16px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 500;
  line-height: 22.5px;
  text-decoration: none;
  margin-right: 48px;
}

.header__link:last-of-type {
  margin-right: 0;
}

.header__menu-btn_open {
  padding: 0;
  background-image: url(../../images/supporting-elements/MobileMenuButton.svg);
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (max-width: 1400px) {
  .header {
    max-width: 1024px;
  }

  .header__link {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 24px 60px;
  }
}

@media screen and (max-width: 890px) {
  .logo__text {
    display: none;
  }

  .logo__mobile {
    width: 56px;
    height: 56px;
    background-image: url("../../images/LogoMobile.svg");
  }
}