.header {
  margin: 0 auto;
  max-width: 1279px;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__image {
  width: 62px;
  height: 62px;
}

.logo__text {
  margin-left: 16px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 500;
  line-height: 22.5px;
  text-decoration: none;
  margin-right: 48px;
}

.header__link:last-of-type {
  margin-right: 0;
}

.header__link-img {

}

.header__links {
  display: flex;
}

.header__links-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__link-item {
  list-style: none;
  margin-right: 8px;
}

.header__link-item:last-of-type {
  margin-right: 0;
}

.header__link-item_languages {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  height: 24px;
}

.header__button {
  background: none;
  border: none;
  padding: 0;
  height: 12px;
  margin-right: 4px;
}

.header__button:first-of-type {
  margin-left: 8px;
}

.header__button:last-of-type {
  margin-right: 8px;
}
