.members {
  padding: 170px 0 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.members__title {
  margin-top: 0;
  margin-bottom: 70px;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.members__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.members__list::-webkit-scrollbar {
  width: 0;
}

.members__list-item {
  list-style: none;
}

.members__animation {
  max-width: 100%;
  overflow: hidden;
}

.members__animation-container {
  display: flex;
  width: max-content;
  animation: marquee-infinite 60s linear infinite;
}

.members__list-item {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 992px) {
  .members {
    padding: 155px 0;
  }
}

@media screen and (max-width: 768px) {
  .members {
    padding: 120px 0 155px;
  }

  .members__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 46px;
  }

  .members__list-item {
    width: 144px;
    height: 40px;
  }
}

@keyframes marquee-infinite {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
