.members {
  padding: 170px 0 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.members__title {
  margin-top: 0;
  margin-bottom: 70px;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.members__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.members__list::-webkit-scrollbar {
  width: 0;
}

.members__list-item {
  list-style: none;
}

@media screen and (max-width: 992px) {
  .members {
    padding: 155px 0;
  }
}

.members__animation {
  animation: scrolling 15s linear infinite backwards;
  overflow: hidden;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translatex(-1000px); }
}