.footer {
  background-color: rgba(8, 8, 8, 1);
}

.footer_page_history {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer__content {
  margin: 0 auto;
  padding: 32px 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "logo links"
  "copyright social-networks";
  justify-content: space-between;;
  align-items: center;
  gap: 12px;
  max-width: 1279px;
}

.footer__copyright {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.5);
  grid-area: copyright;
}

.footer__social-networks {
  grid-area: social-networks;
  justify-self: end;
}

@media screen and (max-width: 1400px) {
  .footer__content {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1200px) {
  .footer__content {
    padding: 32px 60px;
  }
}

@media screen and (max-width: 1025px) {
  .footer__content {
    padding: 32px 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "nav-block"
    "links"
    "social-networks"
    "copyright ";
    justify-items: center;
    gap: 32px;
  }

  .footer__nav-block {
    grid-area: nav-block;
    display: flex;
    flex: 1 1;
    gap: 48px;
    justify-content: center;
  }
}