.footer {
  background-color: rgba(8, 8, 8, 1);
}

.footer__content {
  margin: 0 auto;
  padding: 32px 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "logo links"
  "copyright social-networks";
  justify-content: space-between;;
  align-items: center;
  gap: 12px;
  max-width: 1279px;
}

.footer__logo {
  grid-area: logo;
  display: flex;
  align-items: center;
}

.footer__logo-text {
  margin-left: 16px;
}

.footer__copyright {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.5);
  grid-area: copyright;
}

.footer__links {
  max-width: 495px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  grid-area: links;
}

.footer__link {
  margin-right: 12px;
  list-style: none;
}

.footer__link:last-of-type {
  margin-right: 0;
}

.footer__link_margin_none {
  margin-right: 0;
}

.footer__social-networks {
  grid-area: social-networks;
  justify-self: end;
}

@media screen and (max-width: 1400px) {
  .footer__content {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1200px) {
  .footer__content {
    padding: 32px 60px;
  }
}

@media screen and (max-width: 768px) {
  .footer__content {
    padding: 15px 32px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "links"
    "social-networks"
    "copyright ";
    justify-items: center;
  }

  .footer__logo {
    display: none;
  }

  .footer__social-networks {
    justify-self: center;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
  }
}