.copyright {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.5);
  grid-area: copyright;
}

@media screen and (max-width: 1025px) {
  .copyright {
    font-size: 12px;
    line-height: 15px;
  }
}