.issuance-history {
  background-image: url("../../images/Issuance-History-Mobile.png");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
}

.issuance-history__content {
  max-width: 1279px;
  padding: 73px 0 39px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.issuance-history__button {
  border: none;
  padding: 18.5px 15px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.issuance-history__button-arrow {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  background-image: url(../../images/CaretRight.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.issuance-history__button-text {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

.issuance-history__title {
  margin: 24px 0 4px;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.issuance-history__subtitle {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1400px) {
  .issuance-history__content {
    max-width: 1024px;
  }

}

@media screen and (max-width: 1200px) {
  .issuance-history__content {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 576px) {
  .issuance-history__content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .issuance-history__title {
    font-size: 24px;
    line-height: 30px;
  }

  .issuance-history__subtitle {
    font-size: 12px;
    line-height: 15px;
  }
}